<div class="container-fluid vh-100" style="margin-top:100px">
    <div class="" style="margin-top:100px">
        <div class="rounded d-flex justify-content-center">
            <div class="col-md-4 col-sm-12 shadow-lg p-5 bg-light">
                <div class="text-center">
                    <h3 class="text-primary">Sign In</h3>
                </div>
                <form class="custom-form" action="" [formGroup]="ValidarExistenciaUsuario" (ngSubmit)="ProcValidarExistenciaUsuario()">
                    <div class="row">
                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-person-plus-fill text-white"></i></span>
                            <input type="text" class="form-control" formControlName="NomUsuario" placeholder="Nombre Usuario">
                        </div>

                        <div class="input-group mb-3">
                            <span class="input-group-text bg-primary"><i
                                    class="bi bi-key-fill text-white"></i></span>
                            <input type="password" class="form-control" formControlName="contrasena" placeholder="Contraseña">
                        </div>
                        
                        
                            <button class="btn btn-primary text-center mt-6" type="submit">
                                Iniciar Sesión
                            </button>
                           
                                               
                        <p class="text-center text-primary" style="margin-top: 5px;">¿Olvido la contraseña?</p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>